@charset "utf-8";

*{
	margin:0;
	padding:0;
}

html {
	height:100%;
}

body {
	background:url(/images/top_bar_100_height.png) repeat-x 0 0;
	font-size: 80%;
	font-family:  arial, helvetica, sans-serif;
	height:100%;
}

a, a:link, a:visited, a:active {
	text-decoration:none;
	outline-style:none;
}

form label {
	color:#202020;
	font-size:12px;
	font-weight:bold;
}

code {
	display:block !important;
	margin:10px 10px 20px 10px !important;
	background: #f0f0f0 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='white', EndColorStr='#f0f0f0') !important;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0)) !important;
	background: -moz-linear-gradient(top, white, #f0f0f0) !important;
	border-radius: 0.6em !important;
	-webkit-border-radius: 0.6em !important;
	-moz-border-radius: 0.6em !important;
	-moz-box-shadow: 1px 1px 3px #ddd !important;
	-webkit-box-shadow: 1px 1px 3px #ddd !important;
	box-shadow: 1px 1px 3px #ddd !important;
	padding: 0.6em !important;
	border: 1px solid #aaaaaa !important;
	width:auto !important;
}

input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

input[type="button"], input[type="submit"] {
	border-collapse:collapse;
	text-align:center;
	margin:1px;
}

input[type=text], input[type=password] {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	padding:3px;
}

input[type=submit], input[type=button] {
	padding:3px;
}

ul {
	list-style-type:none;
}

img {
	border:0;
}

img.shadow {
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}

p {
	margin:0 0 20px;
}

textarea {
	font-family:  arial, helvetica, sans-serif;
}

h1 {
	font-size:22px;
	color:#09193c;
}

h2 {
	font-size:22px;
	margin-bottom:8px;
	color:#09193c;
}

h2.underline {
	text-decoration:underline;
	margin-bottom:4px;
}

h2 > a {
	color:#09193c !important;
}

h3 {
	font-size:18px;
	margin-bottom:5px;
	color:#09193c;
}

h4 {
	font-size:15px;
	margin-bottom:5px;
	color:#09193c;
}

.green_hover {
	display:block;
	padding:5px;
	border:1px solid white;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.green_hover:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}

.clear {
	clear:both;
}

.clearleft {
	clear:left;
}

.clearright {
	clear:right;
}

.small_notice {
	color:#777;
	font-size:.9em;
}
#mainwrapper {
	width:1010px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#header {
	position:relative;
	margin-bottom:8px;
	padding:0 5px 20px;
}
#logo {
	display:block;
	float:left;
	width:280px;
	height:48px;
	background:url(/images/logo_no_sub.png) no-repeat;
	margin:18px 0 0 5px;
}
#site_description_box {
	margin-top:45px;
	font-size:1.2em;
	line-height:20px;
	color:#555;
}
#site_nav_menu {
	margin:45px 30px 0 0;
	float:left;
}
#site_nav_menu li {
	float:left;
	list-style-type:none;
	margin-right:5px;
}
#site_nav_menu a {
	display:block;
	padding:5px;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	text-align:center;
	color:#123177 !important;
}
#site_nav_menu a:hover, #site_nav_menu a.selected {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#site_nav_menu img {
	display:block;
	margin-bottom:8px;
}
#site_nav_menu .home_icon {
	
}
#page_content {
	padding:0 5px;
}
#left_main {
	float:left;
	width:594px;
	padding-right:25px;
	border-right:2px solid silver;
}
#right_main {
	float:right;
	width:365px;
}

/**
 * 404 error page
 */
#error_404 {
	text-align:center;
}

/**
 * Article landing page
 */
#article_list_selector {
	margin:17px 0;
}
#article_list_selector > div {
	float:left;
	margin-left:30px;
	cursor:pointer;
	font-size:17px;
	padding:5px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	text-align:center;
	border:1px solid silver;
}
#article_list_selector > div:hover, #article_list_selector > div.selected {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}

/**
 * Small article area
 */
#article_list {
	
}
#article_list  > li {
	margin-bottom:30px;
	border-bottom:1px solid silver;
}
.item_description {
	line-height:22px;
}
.item_description img {
	max-width:100%;
}
.item_description h3 {
	margin-top:30px;
}
.item_time {
	margin-bottom:15px;
	font-style:italic;
}
.news_item_header_link {
	
}
.article_division {
	display:none;
}
.news_item_read_more_link {
	display:block;
	float:right;
	margin:0 0 10px;
	padding:5px;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	color:#123177 !important;
}
.news_item_read_more_link:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
.simple_list {
	list-style-type:disc;
	padding-left:30px;
	margin:20px 0;
}
.simple_list > li {
	margin-bottom:5px;
}

/**
 * News item
 */
#news_disqus_container {
	float:right;
	width:365px;
}
#main_news_article {
	width:594px;
	border-right:1px solid silver;
	margin-right:20px;
	padding-right:25px;
}

/**
 * Small creations area
 */
#creations_small_list {
	
}
#creations_small_list li {
	padding:5px 5px 15px;
	border-bottom:1px solid silver;
	margin-bottom:15px;
}
#creations_small_list .creation_small_link {
	display:block;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	padding:4px;
	color:black !important;
}
#creations_small_list .creation_small_link:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#creations_small_list .creation_small_image {
	display:block;
	float:right;
	margin:0 0 5px 5px;
	border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
#creations_small_list .creation_small_time {
	margin:0 0 5px;
	font-style:italic;
}
#creations_small_list .creation_short_description {
	line-height:22px;
}



/**
 * Creations landing
 */
#creations_list_main {
	
}
#creations_list_main .creations_landing_item {
	display:block;
	float:left;
	padding:5px;
	margin:0 15px 15px 0;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	width:306px;
	line-height:22px;
	cursor:pointer;
	color:black !important;
}
#creations_list_main .creations_landing_item:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#creations_list_main .creations_landing_item > img {
	display:block;
	float:left;
	margin:0 8px 8px 0;
	border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
#creations_list_main .creation_short_description {
	clear:both;
}
#creations_list_main .creation_right_info {
	float:right;
	width:148px;
}
#creations_list_main .creation_small_time time {
	font-style:italic;
	display:block;
}
#creations_list_main .creation_right_info .border {
	margin:4px 0;
	border-bottom:1px solid #e2e2e2;
}
#creations_list_main .creation_tools {
	line-height:18px;
}

/**
 * Creation view
 */
#creation_top_section {
	padding-bottom:20px;
	border-bottom:1px solid silver;
	margin-bottom:20px;
}
#creation_example {
	margin:0 0 0 20px;
	padding:0 0 0 20px;
	border-left:1px solid silver;
	float:right;
	width:594px;
	min-height:435px;
	line-height:20px;
}
.creation_info_two_column {
	float:left;
	width:365px;
}
.creation_info_two_column .main_creation_image {
	max-width:365px;
	margin:20px 0;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
}
.creation_info_two_column .github_link {
	padding:5px;
	display:block;
	float:right;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.creation_info_two_column .github_link:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#creation_disqus_container {
	float:right;
	margin:0 0 0 20px;
	padding:0 0 0 20px;
	width:365px;
	border-left:1px solid silver;
}
#creation_documentation {
	width:593px;
	line-height:22px;
}
#creation_documentation h3 {
	margin-top:30px;
}

/**
 * Small portfolio area
 */
#portfolio_small_list {
	
}
#portfolio_small_list li {
	padding:5px 5px 15px;
	border-bottom:1px solid silver;
	margin-bottom:15px;
}
#portfolio_small_list .portfolio_small_link {
	display:block;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	padding:4px;
	color:black !important;
}
#portfolio_small_list .portfolio_small_link:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#portfolio_small_list .portfolio_small_image {
	display:block;
	float:right;
	margin:0 0 5px 5px;
	border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
#portfolio_small_list .portfolio_small_time {
	margin:0 0 5px;
	font-style:italic;
}
#portfolio_small_list .portfolio_short_description {
	line-height:22px;
}


/**
 * Portfolio landing
 */
#portfolio_list_main {
	
}
#portfolio_list_main .portfolio_home_item {
	display:block;
	padding:5px;
	margin:15px 0;
	border:1px solid white;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	line-height:22px;
	cursor:pointer;
	color:black !important;
}
#portfolio_list_main .portfolio_home_item:hover {
	background-color:#d0e7a1;
	border:1px solid #83af2c;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#portfolio_list_main .portfolio_home_item > img {
	display:block;
	float:right;
	margin-left:8px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
#portfolio_list_main .portfolio_short_description {
	clear:both;
	margin:10px 0;
}
#portfolio_list_main .portfolio_left_info {
	float:left;
	width:350px;
}
#portfolio_list_main .portfolio_small_time time {
	font-style:italic;
}
#portfolio_list_main .portfolio_small_time strong {
	display:inline-block;
	width:67px;
}
#portfolio_list_main hr {
	margin:5px 0;
	
}
#portfolio_list_main .portfolio_tools {
	line-height:18px;
}



/**
 * Portfolio item
 */
#portfolio_item {
	line-height:22px;
}
#portfolio_item .top_section {
	padding-bottom:20px;
	border-bottom:1px solid silver;
	margin-bottom:20px;
}
#portfolio_item .top_section > img {
	display:block;
	float:right;
	margin-left:8px;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
#portfolio_item .portfolio_left_info {
	float:left;
	width:360px;
}
#portfolio_item .portfolio_small_time time {
	font-style:italic;
}
#portfolio_item .portfolio_external_link {
	
}
#portfolio_item .portfolio_tools {
	line-height:18px;
	margin:10px 0;
}
#portfolio_disqus_container {
	float:right;
	margin:0 0 0 20px;
	padding:0 0 0 20px;
	width:365px;
	border-left:1px solid silver;
}
#portfolio_item .portfolio_description {
	width:593px;
	line-height:22px;
}
#portfolio_item .portfolio_description img {
	margin:0 0 15px 15px;
	border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}


/**
 * Footer
 */
#footer {
	clear:both;
	height:20px;
	margin-top:20px;
	padding:0 5px;
}
